<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/react-md@1.7.0/dist/react-md.deep_purple-deep_orange.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Chat App Test</title>
</head>

<body>
    <script src="https://unpkg.com/react-md@1.7.0/dist/react-md.js"></script>
    <div id="app">React</div>
</body>
{% load static %}
<script src="{% static "frontend/login.js" %}"></script>

</html>