<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-navbutton-color" content="#3f51b5">
    <meta name="theme-color" content="#3f51b5">
    
    <link rel="stylesheet" href="{% static "theme/react-md.indigo-cyan.min.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Let's Talk About It</title>
</head>

<body>
    <script src="https://unpkg.com/react-md@1.9.0/dist/react-md.min.js"></script>
    <div id="app"></div>
</body>

<script src="{% static "frontend/login.js" %}"></script>

</html>
